*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#d63a25;
    --white:#ffffff;
    --dark:#1e1c2a;
}

body{
    color: var(--dark);
    background: var(--white);
}

.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    width: 100%;
    background: var(--white);
    box-shadow: 0 0.1rem 0.5rem #ccc;
    transition: all 0.5s;
    position: fixed;
}

.navegation .logo{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 600;
    animation: bounceLogo 1s ease-in-out 1 normal;
}

@keyframes bounceLogo {
0%, 100% { transform: translateY(0); }
50% { transform: translateY(-20px); }
}

.logo span{
    color: var(--dark);
}

.navegation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegation ul li a{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s;
}

.navegation ul li a:hover{
    color: var(--red);
}

.navegation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.5s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-text .text-h4{
    font-size: 1.2rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4.5rem;
    animation: slide-left 1.4s ease 1 alternate-reverse;;
}

@keyframes slide-left {
from { transform: translateX(-40px); opacity: 0; }
to { transform: translateX(0); opacity: 1; }
}

.home-text p{
    margin-bottom: 4rem;
}

.home-btn{
    background: var(--red);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s ease-out;
}

.home-btn:hover{
    background: #bb5654;
    padding: 20px 50px;
    color: #ccc;
    font-size: 16px;
}

.home-img img{
    width: 100%;
    animation: spin 2s ease-in 1 normal;
}

@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

.menu{
        display: none;
        cursor: pointer;
    }

@media (max-width:785px){
    .navegation{
        padding: 18px 20px;
    }

    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
    opacity: 0;
    }

.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }
    
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .home-img{
        width: 120%;
    }
}